

.col-
{
  border: 1px solid white;
}

.bg-black
{
  background-color: black;
  height: 70px;
 
}
.bg-yellows
{
  background-color: gold;
  height: 70px;
}
.bg-orange
{
  background-color: orange;
  height: 70px;
}
