

.col-1
{
  border: 1px solid white;
  padding-bottom: 8%;
  

}



.bg-black
{
  background-color: black;
  
 
}
.bg-yellows
{
  background-color: gold;
  
}
.bg-orange
{
  background-color: orange;
 
}

